PORT=5000
NODE_ENV=development
MONGO_URI=mongodb://127.0.0.1:27017/moneytrace_ai
JWT_SECRET=super_secret_moneytrace_ai_production_jwt_key_9238472918347
JWT_EXPIRES_IN=7d
CLIENT_URL=http://localhost:5173
EMAIL_HOST=smtp.ethereal.email
EMAIL_PORT=587
EMAIL_USER=demo@moneytrace.ai
EMAIL_PASSWORD=demo_password
AI_API_KEY=
